{% extends 'admin/base.html' %}

{% block body %}
	<div class="topbar">
		<img src="/static/admin/img/icon.png" height="30px"><span class="topbartext"> Admin Panel</span>
	</div>
	<div class="container">
		<div class="col-xs-12" style="margin-bottom:20px;">
			<div class="btn-group btn-group-justified" role="group">
				<a class="btn btn-default" href="/">Go to Homepage</a>
				<a class="btn btn-default disabled" href="/">Change Password</a>
				<a class="btn btn-default" href="/logout">Log Out</a>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading">System Pages</div>
			  <div class="panel-body">
			  	<ul class="filelist">
			    {%- for page in systempages -%}
			      <li>
			      	{{ page.0 }} <a class="btn btn-default btn-xs" href='/admin/page/edit/{{ page.1 }}'>edit</a>
			      </li>
			    {% endfor %}
			    </ul>
			  </div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading form-inline">Custom Pages
				  <input id="add" class="form-control input-sm" type="text" placeholder="new page name">
					<button class="btn btn-default btn-sm" id="addpage">Add</button>
				</div>
			  <div class="panel-body">
			  	<ul class="filelist">
					{%- for page in pages.children recursive %}
					    <li {% if page.children %} class="liconnect"{% endif %}>
					    		{{ page.name }}
					    {%- if page.children -%}
					        <ul class="filelist">{{ loop(page.children) }}</ul>
					    {% else %}
					    		<a class="btn btn-default btn-xs" href='/admin/page/edit/pages/{{ page.path }}'>edit</a> <a class="btn btn-default btn-xs" href='/admin/page/delete/pages/{{ page.path }}'>delete</a>
					    {%- endif %}</li>
					{%- endfor %}
					</ul>
			  </div>
			</div>
		</div>
		
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading form-inline">Static Files
				  <input id="adds" class="form-control input-sm" type="text" placeholder="new static file name">
					<button class="btn btn-default btn-sm" id="addstatic">Add</button>
				</div>
			  <div class="panel-body">
					<ul class="filelist">
					{%- for page in staticfiles.children recursive %}
						    <li {% if page.children %} class="liconnect"{% endif %}>
						    {{ page.name }}
						    {%- if page.children -%}
						        <ul class="filelist">{{ loop(page.children) }}</ul>
						    {% else %}
						    		{% if page.name.endswith(".css") or page.name.endswith(".js") or page.name.endswith(".txt") %}
						    			<a class="btn btn-default btn-xs" href='/admin/static/edit/{{ page.path }}'>edit</a>
						    		{% endif %}
						    		<a class="btn btn-default btn-xs" href='/admin/static/delete/{{ page.path }}'>delete</a>
						    {%- endif %}</li>

						{%- endfor %}
					</ul>
			  </div>
			  <div class="panel-footer">
			  	<form action="/admin/upload" class="form-inline" method="post" enctype="multipart/form-data">
			  		<input name="uploadpath" class="form-control input-sm" type="text" placeholder="upload path">
			  		<input name="uploadfile" class="form-control input-sm" type="file">
			  		<button type="submit" class="btn btn-default btn-sm" id="upload">Upload</button>
			  	</form>
			  </div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading">Import / Export</div>
			  <div class="panel-body">
			  	<a class="btn btn-default btn-sm" href="/admin/export">Export site to zip file</a>
			  	<br>
			  	<br>
			  	<form action="/admin/import" class="form-inline" method="post" enctype="multipart/form-data">
			  		<input name="import" class="form-control input-sm" type="file">
			  		<button type="submit" class="btn btn-danger btn-sm" id="upload">Import Site</button>
			  		<span class="small text-danger"><strong>WARNING</strong>Importing will overwrite your <em>entire site</em></span>
			  	</form>
			  
			  </div>
			</div>
		</div>


		
	</div>
{% endblock %}


{% block script %}
<script>
	function convertToSlug(Text)
	{
	    return Text
	        .toLowerCase()
	        .replace(/[^\w\/]+/g,'')
	        .replace(/ +/g,'_')
	        ;
	}
	function stripsuffix(str, suffix) {
    if (str.indexOf(suffix, str.length - suffix.length) !== -1){
    	return str.slice(0, -1*suffix.length)
    }
    else {
    	return str
    }
	}

	$(function(){
		$("#addpage").click(function(){
			var value = convertToSlug(stripsuffix($('#add').val(), '.html'));
			window.location.replace('/admin/page/new/'+value+'.html');

		})
		$("#addstatic").click(function(){
			var value = $('#adds').val();
			var suffix = "." + value.split('.')[value.split('.').length - 1];
			value = stripsuffix(value, suffix);
			value = convertToSlug(value);
			window.location.replace('/admin/static/new/'+value+suffix);

		})
	})
</script>
{% endblock %}